<div class="bg" id="about">
    <div class="container">
        <div class="sixteen columns">
            <h2>
                <span class="lines">ABOUT</span>
            </h2>
            <div>
                <p style="text-align: justify">
                    <strong>Known As The Way</strong> was founded in SE Asia with the goal of reaching people with the Gospel through social justice, discipleship, and church planting.</p>
            </div>
            <div>
                <p style="text-align: justify">
                    <strong>Our hopes and dreams</strong> for The Way, is that we would live our lives so in line with the gospel of Jesus Christ while being led by the power of the Holy Spirit, that we would look like one big family that everyone wants
                    to be apart of (John 13:34-35). In this big family we would continue to follow Christ great commandments, Loving God and loving our neighbors (Matt 22:36-40).</p>
            </div>
            <h2>
                <img src="/images/banner.png" width="600px" />
            </h2>
        </div>
        <!-- end sixteen columns -->
        <div class="clear"></div>
        <div>
            <div class="one-third column" style="text-align: center">
                <h3>Gospel</h3>
                <h5 style="color: black">God's story</h5>
                <br />
                <a href="" ng-click="openModal('/views/partials/_about-gospel-modal.html')" title="Gospel: God's story">
                    <img src="/images/gospel.png" width="175px" />
                </a>
                <br />
                <br />
                <div>The gospel is that God himself has come to rescue and restore all things in and through the work of Jesus Christ for His Glory.
                    <br />
                    <br />
                    <button ng-click="openModal('/views/partials/_about-gospel-modal.html')" title="Gospel: God's story" class="btn">read more...</button>
                </div>
            </div>
            <div class="one-third column" style="text-align: center">
                <h3>Family</h3>
                <h5 style="color: black">Who we are</h5>
                <br />
                <a href="" ng-click="openModal('/views/partials/_about-family-modal.html')" title="Family: Who we are">
                    <img src="/images/family.png" width="175px" />
                </a>
                <br />
                <br />
                <div>We are the children of God who live and care for each other as a family.
                    <br />
                    <br />
                    <br />
                    <button ng-click="openModal('/views/partials/_about-family-modal.html')" title="Family: Who we are" class="btn">read more...</button>
                </div>
            </div>
            <div class="one-third column last" style="text-align: center">
                <h3>Way</h3>
                <h5 style="color: black">How we live</h5>
                <br />
                <a href="" ng-click="openModal('/views/partials/_about-way-modal.html')" title="Gospel: God's story">
                    <img src="/images/way.png" width="175px" />
                </a>
                <br />
                <br />
                <div>
                    We hope to live in such a way that others would know who God is through us.
                    <br />
                    <br />
                    <br />
                    <button ng-click="openModal('/views/partials/_about-way-modal.html')" title="Way: How we live" class="btn">read more...</button>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div style="text-align: center">
            <br>
            <br>
            <br>
            <br>
            <button ng-click="openModal('/views/partials/_statements-of-faith.html')" title="Statements of Faith" class="btn btn-success btn-large">Statements of Faith and Doctrine</button>
        </div>
        <br>
        <br>
        <br>
        <p class="muted"><em>Note: Known As The Way is in no way affiliated, or apart of, nor out of The Way International. We just wanted to clarify this for anyone interested in knowing more about us due to the confusion, heresy and cult behavior of The Way International. Please read our statements of faith and doctrinal beliefs if you have any questions as to who we are or where we stand on issues.</em></p>
        <br>
        <hr>
        <br>
        <br>
        <div style="text-align: center">
            <a href="http://www.acts29network.org/" target="_blank"><img src="/images/a29_logo.png" style="padding-right:20px" /></a>
        </div>
        <br>
        <br>
        <div>
            <p>Known As The Way belongs to the <a href="http://www.acts29network.org/" target="_blank">Acts 29 Network</a>, a peer-to-peer association of churches around the world called and committed to the Gospel through church planting. Acts 29 is not
                a denomination, but a network of like-minded pastors who are dedicated to planting local, missional, Christ-centered communities to effectively reach the next generation. Acts 29 is also a network of pastors from around the nation and
                world whose dream is to help qualified leaders called by God to plant new churches and replant declining churches.</p>
        </div>
        <div class="sixteen columns">
            <div class="action" style="border-top:0px">
                <div class="btn-group">
                    <a class="btn btn-primary btn-large" href="http://knownastheway.us6.list-manage.com/subscribe/?u=c9ba197727ee9d35ad66f2414&amp;id=34cb4138da" target="_blank"><i class="fa fa-envelope-o"></i> Ministry Updates </a>
                </div>
            </div>
                <br>
        </div>
        <!-- <div>
            <br>
            <hr id="resources">
            <h2><span class="lines">RESOURCES</span></h2>
            <div>
                <iframe src="https://drive.google.com/embeddedfolderview?id=0B_qK_hAi7JjDOXV4TTlFSjBuWGM#grid" style="width:100%; height:600px; border:0;"></iframe>
            </div>
        </div> -->

    </div>

    <!-- end container -->
</div>
