<div class="bg" id="blog">
		<div class="container">
		
			<div class="sixteen columns">
				<h2><span class="lines">Work</span></h2>
			</div> <!-- end sixteen columns -->
			
			<div class="eight columns">
				<p>I have traced the Rebel spies to her. Now she is my only link to finding their secret base. You don't believe in the Force, do you? All right. Well, take care of yourself, Han. Hokey religions and ancient weapons are no match for a good blaster at your side, kid.</p>
			</div> 
			
			<div class="eight columns">
				<p>Send a distress signal, and inform the Senate that all on board were killed. Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. She must have hidden the plans in the escape pod.</p>
			</div>
			
			<div class="clear"></div>
			
			<div class="sixteen columns">
				<div class="flexslider">
					<ul class="slides">
						<li><img src="../images/slide1.jpg" alt="" /></li>
						<li><img src="../images/slide2.jpg" alt="" /></li>
						<li><img src="../images/slide3.jpg" alt="" /></li>
					</ul>
				</div><!-- end flexslider -->
			</div> <!-- end sixteen columns -->
			
			
			<div class="eight columns">
				<p class="mid-text">I have traced the Rebel spies to her. Now she is my only link to finding their secret base. You don't believe in the Force, do you? All right. Well, take care of yourself, Han. Hokey religions and ancient weapons are no match for a good blaster at your side, kid.</p>
			</div> 
			
			<div class="eight columns">
				<p class="mid-text">Send a distress signal, and inform the Senate that all on board were killed. Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. She must have hidden the plans in the escape pod.</p>
			</div>
			
			<div class="clear"></div>
			
			<div class="portfolio">
			
				<div class="one-third column">
					<!-- begin example gallery -->
					<a href="../images/example-img.png" prettyphoto rel="prettyPhoto[gallery1]" title="Your text here"><img src="../images/thumb1.jpg" class="scale-with-grid" alt="" /></a>
					<div class="hidden"><a href="../images/example-img.png" prettyphoto rel="prettyPhoto[gallery1]" title="your text here again"><img src="../images/thumb4.jpg" class="scale-with-grid" style="display:hidden;" /></a></div>
					<div class="hidden"><a href="../images/example-img.png" prettyphoto rel="prettyPhoto[gallery1]" title="your text here again"><img src="../images/thumb4.jpg" class="scale-with-grid" style="display:hidden;" /></a></div>
					<div class="hidden"><a href="../images/example-img.png" prettyphoto rel="prettyPhoto[gallery1]" title="your text here again"><img src="../images/thumb4.jpg" class="scale-with-grid" style="display:hidden;" /></a></div>
					<!-- end gallery -->
					<p class="proj-title">Project title</p>
					<p class="proj-desc">Project description</p>
				</div> <!-- end one-third column -->
			
				<div class="one-third column">
					<a href="http://www.adobe.com/jp/events/cs3_web_edition_tour/swfs/perform.swf?width=792&amp;height=294" prettyphoto rel="prettyPhoto" title="Your text here"><img src="../images/thumb2.jpg" class="scale-with-grid" alt="" /></a>
					<p class="proj-title">Project title</p>
					<p class="proj-desc">Project description</p>
				</div> <!-- end one-third column -->
			
				<div class="one-third column">
					<a href="../images/example-img.png" prettyphoto rel="prettyPhoto" title="Your text here"><img src="../images/thumb3.jpg" class="scale-with-grid" alt="" /></a>
					<p class="proj-title">Project title</p>
					<p class="proj-desc">Project description</p>
				</div> <!-- end one-third column -->
				
				<div class="clear"></div>
				
				<div class="one-third column">
					<a href="http://youtu.be/mEcFTpbRiJs" prettyphoto rel="prettyPhoto" title="Your text here"><img src="../images/thumb4.jpg" class="scale-with-grid" alt="" /></a>
					<p class="proj-title">Project title</p>
					<p class="proj-desc">Project description</p>
				</div> <!-- end one-third column -->
			
				<div class="one-third column">
					<a href="../images/example-img.png" prettyphoto rel="prettyPhoto" title="Your text here"><img src="../images/thumb5.jpg" class="scale-with-grid" alt="" /></a>
					<p class="proj-title">Project title</p>
					<p class="proj-desc">Project description</p>
				</div> <!-- end one-third column -->
			
				<div class="one-third column">
					<a href="http://youtu.be/mEcFTpbRiJs" prettyphoto rel="prettyPhoto" title="Your text here"><img src="../images/thumb6.jpg" class="scale-with-grid" alt="" /></a>
					<p class="proj-title">Project title</p>
					<p class="proj-desc">Project description</p>
				</div> <!-- end one-third column -->
			
			</div> <!-- end portfolio -->
			
			<div class="clear"></div>
			
			<div class="sixteen columns">
				<div class="action">
					<p>You don't believe in the force do you?</p>
					<a href="#"><div class="button1">Say hey</div></a>
				</div> <!-- end action -->
			</div> <!-- end sixteen columns --> 
			
		</div> <!-- end container -->
	</div> <!-- work -->