<div class="bg" id="mission">
    <div class="container">
        <div class="sixteen columns">
            <h2><span class="lines">Mission</span></h2>
        </div>
        <!-- end sixteen columns -->
        <div class="sixteen columns" style="text-align: center">
            <p class="strong" style="font-size:18px">We bring glory to God by being the family of God on mission to serve our world by displaying His love and Glory.</p>
        </div>
        <div class="clear"></div>
        <div class="sixteen columns">
            <div flexslider class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="flexslider-label">Reaching The Unreached</div>
                        <a href="/images/Backgrounds/people_of_the_lake_20____by_korrigan-d3h3s6f.jpg" prettyphoto rel="prettyPhoto[gallery2]" title="Reaching The Unreached">
                            <img alt="Reaching The Unreached" src="/images/Backgrounds/people_of_the_lake_20____by_korrigan-d3h3s6f.jpg"></a>
                    </li>
                    <li>
                        <div class="flexslider-label">Prevention of Human Trafficking</div>
                        <a href="/images/gallery/kid-w-gun.jpg" prettyphoto rel="prettyPhoto[gallery2]" title="Children are Not Soldiers: Prevention of Human Trafficking">
                            <img alt="Children are Not Soldiers: Prevention of Human Trafficking" src="/images/gallery/kid-w-gun.jpg">
                        </a>
                    </li>
                    <li>
                        <div class="flexslider-label">Community Transformation</div>
                        <a title="Community Transformation" href="/images/Backgrounds/3_people_on_this_moto_by_maisondezion.jpg" prettyphoto rel="prettyPhoto[gallery2]">
                            <img alt="Community Transformation" src="/images/Backgrounds/3_people_on_this_moto_by_maisondezion.jpg">
                        </a>
                    </li>
                    <li>
                        <div class="flexslider-label">Creating Sustainable Opportunities</div>
                        <a title="Creating Sustainable Business Opportunities" href="/images/Backgrounds/0d4a4270eb12c56c943778dafb85750a-d36yoks.jpg" prettyphoto rel="prettyPhoto[gallery2]">
                            <img alt="Creating Sustainable Business Opportunities" src="/images/Backgrounds/0d4a4270eb12c56c943778dafb85750a-d36yoks.jpg"></a>
                    </li>
                </ul>
            </div>
            <!-- end flexslider -->
        </div>
        <!-- end sixteen columns -->
        <div class="clear"></div>
        <div class="portfolio">
            <div class="four columns">
                <a href="/images/pastors.jpg" prettyphoto rel="prettyPhoto[gallery1]" title="Training Indigenous House Church Leaders">
                    <img src="/images/pastors.jpg" class="scale-with-grid" alt="Training Indigenous House Church Leaders" /></a>
                <p class="proj-title">Training Indigenous House Church Leaders</p>
                <p class="proj-desc"> We are here helping train leaders on how to make their churches healthy through gospel focused equipping. We also teach them how to reach buddhist in appropraite contextualized forms.</p>
            </div>
            <!-- end one-third column -->
            <div class="four columns">
                <a href="/images/bibles.jpg" prettyphoto rel="prettyPhoto[gallery1]" title="Bible and Gospel Material Printing / Distribution">
                    <img src="/images/bibles.jpg" class="scale-with-grid" alt="Bible and Gospel Material Printing / Distribution" /></a>
                <p class="proj-title">Bible and Gospel Material Printing / Distribution</p>
                <p class="proj-desc">Partnering with other local leaders to help print and distribute over 150,000 plus materials to unreached areas throughout the nation.</p>
            </div>
            <!-- end one-third column -->
            <div class="four columns">
                <a href="/images/gallery/IMG_4453.JPG" prettyphoto rel="prettyPhoto[gallery1]" title="Church Planting">
                    <img src="/images/gallery/IMG_4453.JPG" class="scale-with-grid" alt="Church Planting" /></a>
                <p class="proj-title">Church Planting</p>
                <p class="proj-desc">At The Way we desire to be a church that plants churches, that plants more churches in the unreached and unengaged areas of SE Asia.</p>
            </div>
            <!-- end one-third column -->
            <div class="four columns">
                <a href="/images/relief.jpg" prettyphoto rel="prettyPhoto[gallery1]" title="Emergency Relief Work">
                    <img src="/images/relief.jpg" class="scale-with-grid" alt="Emergency Relief Work" /></a>
                <p class="proj-title">Emergency Relief Work</p>
                <p class="proj-desc">Every couple of months there are many causes that create refugees and IDP's without access to food, shelter or clean water.  We get the great privilege of working alongside local leaders to help bring in aid to these people in difficult situations.</p>
            </div>
            <!-- end one-third column -->
            <div class="clear"></div>
            <div class="four columns">
                <a href="/images/gallery/IMG_5782.jpg" prettyphoto rel="prettyPhoto[gallery1]" title="Living Water">
                    <img src="/images/gallery/IMG_5782.jpg" class="scale-with-grid" alt="Living Water" /></a>
                <p class="proj-title">Living Water Projects</p>
                <p class="proj-desc">Partnering with organizations and communities to help bring in clean drinking water to areas struck by disaster and sectarian violence.</p>
            </div>
            <!-- end one-third column -->
            <div class="four columns">
                <a href="/images/gallery/vertical/DSC04177-large.JPG" prettyphoto rel="prettyPhoto[gallery1]" title="Community and Child Development">
                    <img src="/images/gallery/vertical/DSC04177.JPG" class="scale-with-grid" alt="Community and Child Development" /></a>
                <p class="proj-title">Community and Child Development</p>
                <p class="proj-desc">We work in 2 main areas now alongside other NGO's and ministries to help in community transformation and child development. We believe that the gospel not only transforms the hearts of individuals, but also communities as a whole.</p>
            </div>
            <!-- end one-third column -->
            <div class="four columns">
                <a href="/images/gallery/IMG_4343.jpg" prettyphoto rel="prettyPhoto[gallery1]" title="Traditional Pastoral Equipping">
                    <img src="/images/gallery/IMG_4343.jpg" class="scale-with-grid" alt="Traditional Pastoral Equipping" /></a>
                <p class="proj-title">Traditional Pastoral Equipping</p>
                <p class="proj-desc">The majority of traditional pastors are steeped in poor theological training and often desire to build man's(their own) kingdom,not God's. We try to unbind this stronghold by loving and training them in Christ-centered approches to ministry. </p>
            </div>
            <!-- end one-third column -->
            <div class="four columns">
                <a href="/images/gallery/SFarm.jpg" prettyphoto rel="prettyPhoto[gallery1]" title="Sacred Natural Farm">
                    <img src="/images/gallery/SFarm.jpg" class="scale-with-grid" alt="Sacred Natural Farm" /></a>
                <p class="proj-title">Sacred Natural Farm</p>
                <p class="proj-desc">To create an environment for transforming lives holistically through the power of the gospel, by having a life on life discipleship environment.</p>
            </div>
            <!-- end one-third column -->
        </div>
        <!-- end portfolio -->
        <div class="sixteen columns">
            <div class="action" style="border-top:0px">
                <div class="btn-group">
                    <a class="btn btn-success btn-large" href="http://youtube.com/user/knownastheway" target="_blank"><i class="fa fa-youtube-play"></i> Watch The Way in Action </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end action -->
    <!-- end sixteen columns -->
</div>
<!-- end container -->
</div>
<!-- work -->




