<div class="bg" id="resources">
    <div class="container">
      <div class="sixteen columns">
          <h2><span class="lines">MEDIA</span></h2>
          <div>
              <!-- <iframe src="https://drive.google.com/embeddedfolderview?id=0B_qK_hAi7JjDOXV4TTlFSjBuWGM#grid" style="width:100%; height:600px; border:0;"></iframe> -->
              <iframe width="100%" height="600px" src="https://www.youtube.com/embed/videoseries?list=PLstu3Q2hJGr7Vfh3_QCyKVvfWZedfckF9" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
      </div>
    </div>
    <!-- end container -->
</div>
