<div class="bg " id="serve">
    <div class="container">
        <div class="sixteen columns">
            <h2>
                <span class="lines">
                    Bless</span>
            </h2>
        </div>
        <!-- end sixteen columns -->
        <div id="featured-project">
        <div scrollable class="scrollable">
            <div class="items">
                <div class="item-container">
                    <div class="image nine columns nine columns">
                        <a href="https://bless.knownastheway.com/othersfocused">
                                <img src="https://bless.knownastheway.com/image/780x520s/W51UvGIrNeZUvFIO.jpg?pf41q4" alt="">                            </a>
                    </div>

                    <div class="item-details seven columns">
                        <h3 class="project-name">
                                <a href="https://bless.knownastheway.com/othersfocused">
                                    Ways To Bless</a>
                            </h3>


                        <div class="project-description">
                            <p>Known as The Way was founded in SE Asia with the goal of reaching people with the Gospel through social justice, discipleship, and church planting. One of the major ways we are able to do this, is through blessing
                                others with no strings attached. </p>
                            <p>In order to bless others we need your prayers and support. Please click here to see all current projects, fundraisers, and activities that are blessing the least of these.</p>
                        </div>

                        <div class="donate-button-box">
                            <div class="donate-button-box-inner">
                                <a href="https://bless.knownastheway.com/othersfocused" class="btn-primary btn btn-large call-to-action action-give">
                                        Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

                                <a class="view-all btn-link btn-primary btn" href="https://bless.knownastheway.com/projects">
                                        or see all projects</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="item-container">
                    <div class="image nine columns">
                        <a href="https://bless.knownastheway.com/quickdonate">
                                <img src="https://bless.knownastheway.com/image/780x520s/W5AGLaAUvyG2wBrp.jpg?pelctp" alt="">                            </a>
                    </div>

                    <div class="item-details seven columns">
                        <h3 class="project-name">
                                <a href="https://bless.knownastheway.com/quickdonate">
                                    Organizational Support</a>
                            </h3>

                        <div class="project-description">
                            <p>In order to make things happen, our organization also needs support to operate efficiently. By giving to the organization as a whole, you help support projects, people, and the logistics needed to get the gospel into
                                real peoples lives and communities.</p>
                        </div>

                        <div class="donate-button-box">
                            <div class="donate-button-box-inner">
                                <a href="https://bless.knownastheway.com/quickdonate" class="btn-primary btn btn-large call-to-action action-give">
                                        Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

                                <a class="view-all btn-link btn-primary btn" href="https://bless.knownastheway.com/projects">
                                        or see all projects</a>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <div class="item-container">
                    <div class="image nine columns">
                        <a href="https://bless.knownastheway.com/lanna">
                                <img src="https://bless.knownastheway.com/image/780x520s/W5ABkh88a1RzCJq3.jpg?pelbwy" alt="">                            </a>
                    </div>

                    <div class="item-details seven columns">
                        <h3 class="project-name">
                                <a href="https://bless.knownastheway.com/lanna">
                                    Lanna Kingdom Sustainability Community</a>
                            </h3>

                        <div class="project-description">
                            <p>Vision:<br>To create an environment for transforming lives holistically through the power of the gospel, by having a life on life discipleship environment that allows both non, new and old believers a placed to be equipped for the multiplying work of the ministry of the gospel.</p>
                                <p>Additionally it will be a safe place for trainings, job skills, education, basic hygiene, livelihoods, housing and care.</p>
                                <p>Our Goal is to raise enough funding to purchase the land and build 5 homes and 2 buildings on site by end of year.</p>
                        </div>

                        <div class="donate-button-box">
                            <div class="donate-button-box-inner">
                                <a href="https://bless.knownastheway.com/lanna" class="btn-primary btn btn-large call-to-action action-give">
                                        Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

                                <a class="view-all btn-link btn-primary btn" href="https://bless.knownastheway.com/projects">
                                        or see all projects</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-container">
                    <div class="image nine columns ">
                        <a href="https://bless.knownastheway.com/storybible">
                                <img src="https://bless.knownastheway.com/image/780x520s/W5AKl5628YaIBNGb.jpg?peldp4" srcset="/image/1560x1040s/W5AKl5628YaIBNGb.jpg?peldp4 2x,/image/2340x1560s/W5AKl5628YaIBNGb.jpg?peldp4 3x" alt="">                            </a>
                    </div>

                    <div class="item-details seven columns">
                        <h3 class="project-name">
                                <a href="https://bless.knownastheway.com/storybible">
                                    Story Bible Production</a>
                            </h3>

                        <div class="project-description">
                            <p>In order to reach Buddhist in culturally contextualized forms, we have created an indigenous story bible that tells the story of God in a way that relates to the Buddhist worldview. We currently have translated it in
                                Burmese, Shan, and Northern Thai languages and have printed over 50,000 copies. Our cost range from $0.25 -$1.00 per story-bible, and each bible can impact up to 25 or more individuals with the true gospel.</p>
                            <p>Help us not only print more story-bibles but translate it into new languages here in SE Asia.</p>
                            <p>1 Story Bible could change the lives of thousands of people over time.</p>
                        </div>

                        <div class="donate-button-box">
                            <div class="donate-button-box-inner">
                                <a href="https://bless.knownastheway.com/storybible" class="btn-primary btn btn-large call-to-action action-give">
                                        Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

                                <a class="view-all btn-link btn-primary btn" href="https://bless.knownastheway.com/projects">
                                        or see all projects</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-container">
                    <div class="image nine columns">
                        <a href="https://bless.knownastheway.com/water">
                                <img src="https://bless.knownastheway.com/image/780x520s/W5AsNEQaMTp0LrIV.jpg?pelkc4" alt="">                            </a>
                    </div>

                    <div class="item-details seven columns">
                        <h3 class="project-name">
                                <a href="https://bless.knownastheway.com/water">
                                    Living Water</a>
                            </h3>

                        <div class="project-description">
                            <p>The Living Water Project is an ongoing platform that uses clean water initiatives to bless communities and show the love of Christ. Whether its a family water filter or community tube well, our goal is to bless the
                                "least of these" with clean sustainable water.</p>
                            <p>Our water filters cost about $15 per unit.<br>A community tube well cost between $500-$1500 to drill and setup.</p>
                                <p>By using the living water project as a bridge into new communities, our teams can establish trusted relationships that lead to real life on life discipleship.</p>
                                <p>A ongoing support of this project will not only change the lives of people and communities physically, but also spiritually.</p>
                        </div>

                        <div class="donate-button-box">
                            <div class="donate-button-box-inner">
                                <a href="https://bless.knownastheway.com/water" class="btn-primary btn btn-large call-to-action action-give">
                                        Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

                                <a class="view-all btn-link btn-primary btn" href="https://bless.knownastheway.com/projects">
                                        or see all projects</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-container">
                    <div class="image nine columns">
                        <a href="https://bless.knownastheway.com/quickdonate">
                                <img src="https://bless.knownastheway.com/image/780x520s/W5AGLaAUvyG2wBrp.jpg?pelctp" alt="">                            </a>
                    </div>

                    <div class="item-details seven columns">
                        <h3 class="project-name">
                                <a href="https://bless.knownastheway.com/quickdonate">
                                    Organizational Support</a>
                            </h3>

                        <div class="project-description">
                            <p>In order to make things happen, our organization also needs support to operate efficiently. By giving to the organization as a whole, you help support projects, people, and the logistics needed to get the gospel into
                                real peoples lives and communities.</p>
                        </div>

                        <div class="donate-button-box">
                            <div class="donate-button-box-inner">
                                <a href="https://bless.knownastheway.com/quickdonate" class="btn-primary btn btn-large call-to-action action-give">
                                        Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

                                <a class="view-all btn-link btn-primary btn" href="https://bless.knownastheway.com/projects">
                                        or see all projects</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a id="featured-project-prev" class="prev"></a>
            <a id="featured-project-next" class="next"></a>
        </div>

              <div class="navi"><a class="active"></a><a class=""></a><a class=""></a><a class=""></a><a class=""></a></div>
      </div>


        <!-- end sixteen columns -->
        <div class="clear"></div>

        <hr>
        <br>
        <h5 style="color:black">Or By Credit / Debit card (one time or monthly)</h5>
        <p>To donate or set up recurring giving please click the button below and you'll be directed to our secure site.</p>
        <div style="text-align:center">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypalForm">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="WYZZEHVJ7G8FL">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <br>
        <h5 style="color:black">By Check</h5>
        <p>If you would prefer to give writing a check, please mail to:<br>
            <p>Known as The Way<br>
           2309 Oakwood Dr.<br>
           Carrollton, TX 75006<br>
                <br>
                <h5 style="color:black">Other</h5>
                <p>If you would like to make another type of contribution please contact <strong>aaron@knownastheway.com</strong>.</p>

    </div>
    <!-- end container -->
</div>
