<div class="bg " id="serve">
    <div class="container">
        <div class="sixteen columns">
            <h2>
                <span class="lines">
                    Serve</span>
            </h2>
        </div>
        <!-- end sixteen columns -->

        <div class="clear"></div>

        <h3>Serving</h3>
        <br>
        <h5 style="color:black">To Join or Partner With Us<h5>
        <p>If you would like to inquire about serving or partnering with us please fill out the contact information section below.</p>
        <br>
        <h4>Project Donations</h4>
        <p>To view a list of projects available to donate to, please visit <a href="https://bless.knownastheway.com" target="_blank">https://bless.knownastheway.com</a>.
        <br>
        <br>
        <h4>Other ways to donate</h4>
        <br>
        <h5 style="color:black">By Credit or Debit card (one time or monthly)</h5>
        <p>To donate or set up recurring giving please click the button below and you'll be directed to PayPal's secure site.</p>
        <div style="text-align:center">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypalForm">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="WYZZEHVJ7G8FL">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <br>
        <h5 style="color:black">By Check</h5>
        <p>If you would prefer to give writing a check, please mail to:<br>
        <p>Known as The Way<br>
           2309 Oakwood Dr.<br>
           Carrollton, TX 75006<br>
        <br>
        <h5 style="color:black">Other</h5>
        <p>If you would like to make another type of contribution please contact <strong>aaron@knownastheway.com</strong>.</p>

    </div>
    <!-- end container -->
</div>
