<div class="bg" id="team">
    <div class="container">
        <div class="sixteen columns">
            <h2>
                <span class="lines">TEAM</span>
            </h2>
        </div>
        <!-- end sixteen columns -->

        <div class="clear"></div>

        <div class="one-third column team">
            <img class="scale-with-grid" alt="Aaron" src="/images/about-pic.png"><p></p>
            <p class="t-name">Aaron</p>
            <p class="t-type">Visionary Servant</p>
            <p class="t-type">Aaron is the lead visionary behind The Way and lives his life with his wife Thaint on mission each day where God has them. With a background in starting multiple businesses, as well as 7 years of discipling men, women and children, he was called to come use those gifts and talents in the lands of SE Asia approximately 3 years ago after living a similar missional life in the United States. He is apart of the Acts 29 network, and also serves alongside and partners with several mission organizations, churches, and businesses around the world. His hopes and dreams for The Way would be that it could continue to glorify God, and make healthy gospel centered disciples long after his lifetime, throughout all the nations of the world.</p>
        </div>
        <div class="one-third column team">
            <img class="scale-with-grid" alt="David" src="/images/about-pic.png"><p></p>
            <p class="t-name">David</p>
            <p class="t-type">Servant</p>
            <p class="t-type">David is vital to keeping Known as The Way on mission. Coming from a background in college ministry, David brings real world knowledge and experience to the table. His hope would be that one day the nations could be reached through young college students cross polinating ministry from the West to the East.</p>
        </div>
        <div class="one-third column team">
            <img class="scale-with-grid" alt="Daniel" src="/images/about-pic.png"><p></p>
            <p class="t-name">Daniel</p>
            <p class="t-type">Mission Mobilizer</p>
            <p class="t-type">Daniel is a key decision maker at the table of The Way and works to help make stateside operations possible. He is also talented web developer and IT consultant whose chief desire in life is to see the kingdom of God advanced. He primarily trains, equips, and supports the family of God toward "proclaiming the excellences’ of Him who called us out of darkness into His marvelous light" through The Way and other ministries - both locally and globally. This manifests itself in three areas: missions mobilization, web development/IT consulting, and a business-as-mission company.</p>
        </div>

        <div class="clear"></div>
    </div>
    <!-- end container -->
</div>
