<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">×</button>
    <h3>Way: How we live</h3>
</div>
<div class="modal-body">
    <div style="" id="About_Way_Modal">
        <div style="text-align:center">
            <img src="/images/way.png" width="175px" />
            <br />
            <br />
            <br />
        </div>
        <p>
            <strong>Tell the Story of Gods Truth:</strong>
            <br />
            <br />
            <em>We understand truth and experience it with God's Story.</em>
            <br />God has been telling His true Story since before time began. We believe we are apart of His Story and need to understand it and see how our lives are apart of it. Therefore, we desire to tell ourselves the true Story by interacting with God's Word. We also take time to listen to others stories and help them find how their life is also apart of God's true Story. (Genesis 1:1-2; John 1:1; Psalm 1; 2 Timothy 3:16-17) Truth is found in the Authority of Scripture. Scripture is the Word of God and has the final authority over all things. We seek to find the Truth of Gods story in all of life. We find this in the living Word of God. (Ps 25:4-5; Jn 1:14; Jn 8:31-32; 2 Tim 3:14-17)
        </p>
        <p>
            <strong>Listen and Trust the Holy Spirit: -</strong>
            <br />
            <br />
            <em>We want to listen to God and to trust Him often.</em>
            <br />We cannot know what Gods will for our lives is if we are not listening to Him. We want to be intentional about listening and trusting the Holy Spirit each day. We listen to God by regularly interacting with His Word-(the Story and Jesus). We also believe God speaks today through His Spirit in many ways. We spend time actively listening to hear what God is saying to us today. (Mark 1:35-37; John 16:7-15; Hebrews 1:1-3; Romans 1:20)
            <strong>Spirit-</strong>The Breath of Life: The Holy Spirit sustains life in all and is a helper to those who love and trust in Jesus. We must continually walk in the Spirit, trust the Spirit, and worship in Spirit and in Truth. (Jn 4:23-24, Rom 8:1-11;Gal 5:16-26)
        </p>
        <p>
            <strong>Celebrate Life and Love -</strong>
            <br />
            <br />
            <em>We gather the family of God often to celebrate the love of God and all of the His blessings that we have in life.</em>
            <br />God calls His family to celebrate His love and be thankful for His provision.  We gather our missional families often as a larger family, to share our lives and celebrate all that God is doing in and around us. We invite everyone into our lives as a way of displaying God's glory so that they will know what He is like. (Leviticus 23; Acts 2:42-47; Hebrews 10:24-25) They will know what He is like mainly through our love for one another.
            <strong>Love-</strong>as the Utmost Expression: As the people of God we are called to Love God and love others. In loving God we continually seek to worship God in all that we do. In loving others we demonstrate Christ love for the world. (Lk 10:26-28; Jn 13:34-35;1 Cor 13:13).
        </p>
        <p>
            <a href="http://tacoma.somacommunities.org/celebrate/"></a>
            <strong>Bless as Mission -</strong>
            <br />
            <br />
            <em>We intentionally want to bless others as apart of the mission of God.</em>
            <br />God desires that all nations—all people—would be blessed through Jesus. And now, as His family we believe we live out this mission as we bless others. We intentionally seek God's direction for who He would have us tangibly bless each week. Blessing can be done with the resources we have, service we can provide, or words of encouragement.(Genesis 12:1-3; Ephesians 1:22-23; 2:8-10; 1 Peter 2:12) We desire to bless all people with no expectations in return.
            <strong>Mission-</strong>
            The mission of the family of God is to glorify God by going and making disciples of all the nations, baptizing them in the name of the Father, Son, and Holy Spirit, teaching them to observe all that was commanded by the “Word” of God. (Matt 28:18-20; 2 Cor 5:11-20; Eph 4:10-15)
        </p>
        <p>
            <strong>The Way of Life-</strong>
            <br />
            <br />
            <em>We regularly do life in such a way that others will know we are disciples of Jesus.</em>
            We do this by eating meals, hanging out, and enjoying life with others to invite them into the family of God. We regularly eat meals with people not in our family.  (Leviticus 23; Matthew 6:11; 26:17-30; Acts 2:46-47; Romans 12:13) We also try to live life as followers of Christ in our surrounding areas and circles of influence, living with one another in such a way that it transforms not only our own lives, but the community around us. (John 13:35; Rom 12:9-11; Phil 2:1-5)
        </p>
        <p>
            <strong>Restore and Rest-</strong>
            <br />
            <br />
            <em>We want take time often to restore and rest often in life.</em>
            This can be done in several ways. Whether it be resting, having fun, creating new things or even restoring beauty, we want to try to reflect God to others in these ways so that it would create more hope. Hope is our faith in Christ. Our only hope in life is the message of Jesus Christ. Through the joy and suffering of life, we eagerly await for His return and hope by faith in the Truth of the gospel. By resting and restoring we imitate our Father here on earth building His Kingdom. Since we were created in His image, we were also made to joyfully create and rest just as the Father did. (Genesis 1-2:3; Deuteronomy 5:12; Mark 2:23-28; Hebrews 4)When Christ returns He will restore all creation to new and keep a people that will be the family of God for eternity. (Eph 2:8; Heb 11:1; James 1:1; Rev 21:1-6).
        </p>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn" ng-click="close()">Close</button>
</div>
