<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">×</button>
    <h3 style="font-size:22px">The Way: Statements of Faith and Doctrine</h3>
</div>
<div class="modal-body">

<p>
    <br/>
</p>
<ol>
    <li>
        <p>
            <strong>God: </strong>
            <em>God is Triune</em>
            <strong>-</strong>
            There is one God: infinite, eternal, almighty and perfect in holiness, truth and love. In the unity of the godhead, there are three Persons,
            Father, Son and Holy Spirit, co-existent, co-equal, and co-eternal. The Father is not the Son and the Son is not the Holy Spirit, yet each is truly
            Deity. One God &#8212; Father, Son and Holy Spirit &#8212; is the foundation of Christian faith and life.
        </p>
        <ol>
            <li>
                <p>
                    <strong>God the Father-</strong>
                    God the Father is the Creator of heaven and earth. By His word and for His glory, He freely and supernaturally created the world out of
                    nothing. Through the same word He daily sustains all His creatures. He rules over all and, together with the Son and the Spirit, is the
                    only Sovereign. His plans and purposes cannot be thwarted. He is faithful to every promise, works all things together for good to those who
                    love Him and in His unfathomable grace gave His Son Jesus Christ for mankind's redemption. He made all things for the praise of His glory
                    and intends for man, in particular, to live in fellowship with Himself.
                </p>
            </li>
            <li>
                <p>
                    <strong>Jesus Christ-</strong>
                    Jesus Christ, the only begotten Son of God, is the eternal Word made flesh, supernaturally conceived by the Holy Spirit, born of the Virgin
                    Mary. He is perfect in nature, teaching and obedience. He is fully God and is fully man. He was always with God and is God. Through Him all
                    things came into being and were created. He was before all things and in Him all things hold together by the word of His power. He is the
                    image of the invisible God, the first-born over all creation and in Him dwells the fullness of the Godhead bodily. He is the only Savior
                    for the sins of the world having shed His blood and died a vicarious death on Calvary's cross. By His death in our place, He revealed the
                    divine love and upheld divine justice, removing our guilt and reconciling us to God. Having redeemed us from sin, the third day He rose
                    bodily from the grave, victorious over death and the powers of darkness and for a period of 40 days appeared to over 500 witnesses
                    performing many convincing proofs of His resurrection. He ascended into heaven where, at God's right hand, He intercedes for His people and
                    rules as Lord over all, awaiting His return. He is the Head of His body, the church, and should be adored, loved, served and obeyed by all.
                </p>
            </li>
            <li>
                <p>
                    <strong>The Holy Spirit-</strong>
                    The Holy Spirit, the Lord and Giver of life, convicts the world of sin, righteousness and judgment. Through the proclamation of the gospel,
                    He persuades men to repent of their sins and confess Jesus as Lord. By the same Spirit a person is led to trust in divine mercy. The Holy
                    Spirit unites believers to Jesus Christ in faith, brings about the new birth and dwells within the regenerate. The Holy Spirit has come to
                    glorify the Son who in turn came to glorify the Father. He will lead the church into a right understanding and rich application of the
                    truth of God's Word. He is to be respected, honored and worshipped as God the Third Person of the Trinity.
                </p>
            </li>
        </ol>
    </li>
</ol>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<ol start="2">
    <li>
        <p>
            <strong>Scriptures:</strong>
        </p>
        <ol>
            <li>
                <p>
                    The scriptures are the Word of God (as speech by God), (Jesus Christ is the &#8220;Word of God&#8221; as person). All 66 canonical books
                    (39 Old Testament and 27 New Testament) were given by the inspiration of God and have full authority over life and faith. The scriptures
                    are the infallible Word of God and in them contain the written Word of God. The scriptures are God's self-disclosure to mankind. The
                    scriptures lead man to salvation through faith in Jesus Christ. In the original giving of the Scriptures, the Bible is free of any errors.
                    The Scriptures are the authority over the Christian life, practice and doctrine. The Scriptures are completely sufficient in the 66
                    canonical books and cannot be added to, changed, or replaced by later tradition, churches, revelation or man made wisdom. All doctrines,
                    creeds, church confessions, statements of faith, core values, or covenants are all subject to the authority of scripture and should be
                    tested and refined by the scriptures.
                </p>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>Creation:</strong>
        </p>
        <ol>
            <li>
                <p>
                    <strong>All of creation was made entirely by God and is sustained by His Spirit.</strong>
                </p>
                <ol type="i">
                    <li>
                        <p>
                            God created the entire universe, including human beings, who alone have the special status of being made in God&#8217;s image. (Gen
                            1-2, John 1:3; Eph 3:9; Col 1:16; and Rev 4:11)
                        </p>
                    </li>
                    <li>
                        <p>
                            God&#8217;s creation also includes the creation of spiritual beings, angels and demons, and everything in the universe. (Col
                            1:15-16)
                        </p>
                        <ol>
                            <li>
                                <p>
                                    Creation itself is NOT God and God is not creation. (Pantheism)
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>
                            Holy Spirit is the Giver and Sustainer of Life for creation.
                        </p>
                        <ol>
                            <li>
                                <p>
                                    Job 33:4 <em>The Spirit of God has made me, and the breath of the Almighty gives me life.</em>
                                </p>
                            </li>
                            <li>
                                <p>
                                    Ps 104:30; <em>When you send forth your Spirit, they are created, and you renew the face of the ground.</em>
                                </p>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                <p>
                    <strong>After the fall of man, Sin affected everything in all of creation (Gen 3)</strong>
                </p>
                <ol type="i">
                    <li>
                        <p>
                            Creation was affected by the fall and is totally depraved (Gen 3:17-19). Though depraved entirely, creation still gives a testimony
                            to the glory, power and goodness of its Creator (Ps 19:1-6; Job 38-41; Is 40:12-26).
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <p>
                    <strong>Views:</strong>
                    There are various views and theories involved with creation. In order to stay within biblical boundaries and not cause division over
                    doctrine, it is safe to say the following: God created the universe- &#8220;In the beginning God created...&#8221; Gen 1:1. All Christians
                    can agree on this point and should be united towards it and in a denial of naturalistic evolution. How God created the universe can be
                    debated until Jesus returns. The Bible clearly states that He spoke, and creation occurred. The Bible speaks more to the question of why
                    rather than how and when. We know that God created everything for His glory. God did not need to create anything for His glory, but rather
                    chose to out of love and mercy to display His glory and worth for eternity.
                </p>
            </li>
        </ol>
    </li>
</ol>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<ol start="4">
    <li>
        <p>
            <strong>Man:</strong>
        </p>
        <ol>
            <li>
                <p>
                    <em><strong>Imago Dei</strong></em>
                    <strong>: The Image of God</strong>
                </p>
                <ol type="i">
                    <li>
                        <p>
                            Scripture tells us that God made man in the image of a Triune God. (Gen 1:26; 3:22; 9:6) God made both male and female in His
                            image, both equal but with different roles, so that they might glorify Him with their lives.
                        </p>
                    </li>
                    <li>
                        <p>
                            Although we are made in the image of God, man is not God and does not possess the full attributes of God. Man is like God and
                            represents Him (James 3:9). God has given man certain communicable attributes of Himself. To name a few: knowledge, wisdom,
                            truthfulness, love, mercy, jealousy, wrath, will, beauty, and glory. God also has incommunicable attributes that He does not share
                            with man.<strong> </strong>To name a few: Infinite, omnipresent, unchangeable, omnipotent, and omniscient.
                        </p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>Sin</strong>
            :
        </p>
        <ol>
            <li>
                <p>
                    According to scripture, the sin of Adam has affected man when he rebelled against God. This caused a great chasm between man and God which
                    made it impossible for man to restore, has caused man to be lost in the world, made man dead eternally, and without hope apart from
                    salvation in Christ alone. Man became an enemy of God&#8217;s just wrath and deserved to die immediately upon the fall. This depravity has
                    penetrated every thought, action, will, mind, and the full essence of man. Because of Adam, all of mankind and all of creation carry the
                    same depravity and the effects of the curse. Apart from Christ, man is full of sin and glorifies Satan with his life. Man is hostile and
                    rebellious towards God. Man does not have the ability to do good apart from God on his own, and any good that an unregenerate man does, is
                    done out of the common grace and communicable attributes of God.
                </p>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>The Gospel:</strong>
        </p>
        <ol>
            <li>
                <p>
                    Jesus Christ is the gospel. According to 1 Cor 15, Paul reminds the church of Corinth that Christ died, was buried, and rose on the third
                    day, all according to the scriptures for our sins. The gospel or &#8220;good news&#8221; of Jesus is made know by His birth, sinless life,
                    obedient death, historical resurrection and miraculous ascension.<strong> </strong>
                </p>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>Mans response to the Gospel:</strong>
        </p>
        <ol>
            <li>
                <p>
                    This is &#8220;good news&#8221;, but doesn&#8217;t makes sense if it is not put into the bigger context of redemptive history. It is The
                    Truth that God created everything perfect, and in this creation He created man to be dependent on and in a holy relationship with Himself
                    (Gen 1). Man rebelled against God, and through man&#8217;s sin, fractured that relationship and all of creation (Gen 3). Because of the
                    fall, man and all of creation was corrupted and could no longer live in the presence of a holy God. God separates Himself from man, and man
                    continues to do more evil and spiral out of control apart from God (Gen 3-8). God later makes a covenant with man (Gen 15) and the entire
                    OT narrative looks forward to the Messiah, the One who will save man from his sins, and restore the relationship between God and man. God
                    humbles Himself and takes on flesh in Jesus Christ (John 1). Fully God and fully human, Jesus is born of a virgin by the power of the Holy
                    Spirit (Matt 1:18), and lives a sinless life (Heb 4:14-16), goes to the cross, and atones for the sins of man by pouring Himself out as an
                    offering, pleasing to God (Isa 53:10). The death of Jesus is a substitutionary and propitiatory sacrifice to God for the sins of man. His
                    death satisfies the demands of God's holy justice. In the crucifixion of Christ on the cross, God poured out His full wrath for man&#8217;s
                    sins (Isa 53:6), while at the same time poured out His full mercy for man. In Christ&#8217;s death, the sins of man are atoned for, and in
                    His resurrection, Christ conquered death (Isa 25:8 quoted in 1 Cor 15). The righteousness of Christ is imputed to man by the Holy Spirit
                    for those who believe and have faith in Jesus Christ as their Savior (Col 1:21-23). The only hope man has in life and in death is the blood
                    of Christ. Jesus, after rising from the dead, appeared on earth and to more than 500 witnesses. He then ascended to heaven and now sits at
                    the right hand of the Father, interceding for His children. The Holy Spirit was sent to the world and now dwells inside of God&#8217;s
                    people (the church), and continues to redeem the elect until the mission of God is finished. One day Jesus Christ will return to earth, the
                    nations will be judged justly, and all of God&#8217;s people and creation will have a fully restored relationship with Himself (Rev 21).
                    Those who are not God&#8217;s people will spend an eternity in hell, separated from God. Jesus Christ is the only mediator between man and
                    God. Apart from Him, there is no other way by which one can be saved.<strong> </strong>The gospel, in a theological understanding is Jesus
                    Christ.
                </p>
            </li>
            <li>
                <p>
                    The proper response to the gospel is faith in the person and work of Jesus Christ, a faith that is naturally accompanied by repentance from
                    sin. Biblical repentance is characterized by a changed life, and saving faith is evidenced by kingdom service or works. While neither
                    repentance nor works save, unless a person is willing to deny himself, pick up his cross and follow Christ, he cannot become His disciple.
                    This response to the gospel is rooted and grounded in the free and unconditional election of God for His own pleasure and glory. This
                    gospel of grace is to be sincerely preached to all men in all nations.
                </p>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>Mans Inheritance through the Gospel:</strong>
        </p>
        <ol>
            <li>
                <p>
                    Salvation, the free gift of God, is provided by grace alone, through faith alone, because of Christ alone, for the glory of God alone.
                    Anyone turning from sin in repentance and looking to Christ and His substitutionary death receives the gift of eternal life and is declared
                    righteous by God as a free gift. The righteousness of Christ is imputed to him. He is justified and fully accepted by God. Through Christ's
                    atonement for sin an individual is reconciled to God as Father and becomes His child. The believer is forgiven the debt of his sin and, via
                    the miracle of regeneration, liberated from the law of sin and death into the freedom of God's Spirit.
                </p>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>Sanctification:</strong>
        </p>
        <ol>
            <li>
                <p>
                    The Holy Spirit is the active agent in our sanctification and seeks to produce His fruit in us as our minds are renewed and we are
                    conformed to the image of Christ. Though indwelling sin remains a reality, as we are led by the Spirit, we grow in the knowledge of the
                    Lord, freely keeping His commandments and endeavoring to so live in the world that all people may see our good works and glorify our Father
                    who is in heaven. All believers are exhorted to persevere in the faith knowing they will have to give an account to God for their every
                    thought, word and deed. The spiritual disciplines, especially Bible study, prayer, worship and confession, are a vital means of grace in
                    this regard. Nevertheless, the believer's ultimate confidence to persevere is based in the sure promise of God to preserve His people until
                    the end, which is most certain.
                </p>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>Church:</strong>
        </p>
        <ol>
            <li>
                <p>
                    According to scripture, the church is the body of Christ. The body is made up of God&#8217;s people who will dwell with Him for eternity.
                    (1 Thes 1:4-5; 2 Thes 2:13;1 Peter 1:1-2; Rev 21:3). By the Word and the Spirit of God, the church is built by calling depraved men and
                    women out of their sin and into a personal relationship with Jesus. This is accomplished throughout time and includes the entire human
                    race. The church universal is made up of God&#8217;s people who have believed in Jesus Christ around the world and throughout time. The
                    church local is smaller communities of believers in Christ spread through out the world. The church universal is made up of the church
                    local.
                </p>
                <ol type="i">
                    <li>
                        <p>
                            The church exists to worship and glorify God with their lives by serving and doing the will of God throughout the world. The role
                            of the church in the world is to be on mission for God. This mission is God&#8217;s mission for redeeming mankind and building His
                            kingdom. The church corporately builds His kingdom here on earth and in heaven (Matthew 18:18; 1 Cor 3:5-15). God uses the church,
                            empowered by the Holy Spirit, to be the active participant or tool in which He accomplishes His mission. Each member of the church
                            actively plays a role as an ambassador for Christ, and is given the ministry of reconciliation in their allotted period in time
                            during Gods mission (Job 14:5; Acts 17:26, 2 Cor 5).<strong> </strong>Ministry is the active way in which the church goes about the
                            Mission of God. As ministers of reconciliation, the church lives in the world as a missional community that encourages one another
                            and reaches out to the lost by word and deed, (Isa 52:7; Matt 5:13-14, Jn 13:34-35, Rom 10; Rom 15:17-19, 2 Cor 5; Col 3:16-18) The
                            church continues on God&#8217;s mission in the hope that the Holy Spirit will transform the hearts and lives of the saints, as well
                            as others around them to love Jesus through the powerful gospel of Jesus Christ (Rom 8:26-30; Eph 1). The local church devotes
                            themselves to worship through the teachings of scripture, baptism of new believers, the Lord's Supper, fellowship, and prayer.
                        </p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>Baptism:</strong>
        </p>
        <ol>
            <li>
                <p>
                    The practice of water baptism by immersion should be performed as an act of joyful obedience for all persons who have believed in and been
                    transformed by the gospel of Jesus Christ. The act of baptism in no way saves one from there sins, nor does it give any merit towards ones
                    salvation. The act of baptism is strictly an act of obedience to Christ's command (Matt 28:18-20). It serves as a testimony to God, the
                    church, oneself and the rest of the world of one&#8217;s faith in Christ and willingness to follow Jesus. Water baptism represents a visual
                    and symbolic demonstration of a life that is unified with Christ. In the likeness of Christ&#8217;s death, the act indicates that
                    one&#8217;s former life of following sin and Satan has been put to death. In the likeness of Christ&#8217;s resurrection, the act indicates
                    the person has a new life that now is unified with Christ to follow Him and live by the Spirit.
                </p>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>Lord&#8217;s Supper:</strong>
        </p>
        <ol>
            <li>
                <p>
                    The practice of the Lord&#8217;s Supper should be performed as an act of joyful obedience for all persons who have believed and been
                    transformed by the gospel of Jesus Christ. The act of the Lord&#8217;s Supper in no way saves one from there sins, nor does it give any
                    merit towards one&#8217;s salvation. The act of the Lord&#8217;s Supper is strictly an act of joyful obedience to Christ's command, and an
                    act of worship in remembrance of the breaking of Christ's body, and the shedding of His blood on our behalf. It serves as a testimony to
                    God, the church, oneself and to the rest of the world of one&#8217;s faith in Christ and willingness to follow Jesus. The taking of the
                    Lord&#8217;s Supper is often a time for self examination, confession and repentance, and personal and corporate remembrance of the
                    sacrifice of Jesus. The Lord&#8217;s Supper should be taken only by believers who confess and follow Christ.
                </p>
            </li>
        </ol>
    </li>
</ol>
<p>
    <br/>
</p>
<ol start="13">
    <li>
        <p>
            <strong>Church Discipline:</strong>
        </p>
        <ol>
            <li>
                <p>
                    Church discipline is an essential aspect to the health of the church body and should be practiced according to the scriptures in order to
                    protect and Shepherd the flock (Matt 18:15-20;Rom 16:17-19; 1 Cor 5:9-13; 2 Thes 3:5-7; Heb 13:17).
                </p>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>Spiritual Gifts:</strong>
        </p>
        <ol>
            <li>
                <p>
                    The Spiritual Gifts, according to scriptures, are given by the Holy Spirit as an empowerment for the church to effectively carry out the
                    mission of God in ministry. The Holy Spirit continually fills each Christ follower with power to witness, serve and edify the church. All
                    gifts are given in order for the church to effectively do the work of ministry in the world. All the gifts given by the Holy Spirit are at
                    work in the church today. The gifts should be earnestly desired, pursued and practiced in an orderly manner (1 Cor 12-14).
                </p>
            </li>
            <li>
                <p>
                    The Holy Spirit empowers believers for Christian witness and service. The promise of the Father is freely available to all who believe in
                    Jesus Christ, thereby enabling them to exercise the powers of the age to come in ministry and mission. The Holy Spirit desires to
                    continually fill each believer with power to witness, and imparts His supernatural gifts for the edification of the Body and the work of
                    ministry in the world. All the gifts of the Holy Spirit at work in the church of the first century are available today and are to be
                    earnestly desired and practiced in an orderly manner. The gifts are essential in the mission of the Church in the world today.
                </p>
            </li>
        </ol>
    </li>
</ol>
<p>
    <br/>
</p>
<ol start="15">
    <li>
        <p>
            <strong>Church Government:</strong>
        </p>
        <ol>
            <li>
                <p>
                    <strong>Leadership</strong>
                    is focused on church leadership where Christ is the Head of the church (Eph 1:22, Col 1:18); A plurality of elders lead and have final
                    authority in the church through submission to Christ (1 Tim 3, 5); other leaders who do not have final authority such as deacons and
                    personnel that are called to equip the saints (Eph 4:11-16) for the ministry of the Gospel, should submit to the elders, and Shepherd over
                    the flock that God has given them charge over (Jn 21:16; Acts 20:28;1 Pt 5:2).
                </p>
                <ol type="i">
                    <li>
                        <p>
                            <strong>Elders</strong>
                            <strong>and Pastors</strong>
                            of a church should be all male. Anyone in a &#8220;pastoral&#8221; position that is not an elder and that exercises authority over
                            others in the church should also be male.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Deacons and Personnel</strong>
                            can be made up of men and women and are called to help equip the saints as well be ministers of reconciliation to the world around
                            them and should strive to encourage and submit to the spiritual leadership that God has placed over them.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>The saints</strong>
                            are called to be ministers of reconciliation to the world around them and should strive to encourage and submit to the spiritual
                            leadership that God has placed over them. (Heb 13:17, 1 Pet 5:5)
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <p>
                    Each local church governed by a plurality of elders is autonomous by nature. Those called to Shepherd will one day give an account to God
                    for the flock they were called to pastor.
                </p>
            </li>
        </ol>
    </li>
</ol>
<p>
    <br/>
</p>

</div>
<div class="modal-footer">
    <button type="button" class="btn" ng-click="close()">Close</button>
</div>
